
<script>
        function soloLetras(e) {
            key = e.keyCode || e.which;
            tecla = String.fromCharCode(key).toLowerCase();
            letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
            especiales = [8, 37, 39, 46];
            tecla_especial = false
            for (var i in especiales) {
                if (key == especiales[i]) {
                    tecla_especial = true;
                    break;
                }
            }
            if (letras.indexOf(tecla) == -1 && !tecla_especial)
                return false;
        }
    </script>


@model demo_crud.Models.Usuario

<h3 style="text-align:center">Nuevo Usuario</h3>

<hr />

<!--Html.ValidationSummary()  me muestra los required en una lista-->

<div class="container" style="margin-left:20em">

    <form method="post" action="@Url.Action("Nuevo","Usuarios")">


        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"  onkeypress="return soloLetras(event)" name="Nombre" placeholder="ingresa Nombre" >
            </div>
            @Html.ValidationMessageFor(model => model.Nombre,null,new { @class ="text-danger"})

        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Apellido</label>
            <div class="col-sm-10">
                <input type="text" class="form-control"  onkeypress="return soloLetras(event)" name="Apellido"placeholder="ingresa Apellido" >
            </div>
            @Html.ValidationMessageFor(model => model.Apellido, null, new { @class = "text-danger" })
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Edad</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" name="Edad" placeholder="ingresa Edad" >
            </div>
            @Html.ValidationMessageFor(model => model.Edad, null, new { @class = "text-danger" })
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Direccion</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="Direccion" placeholder="ingresa Direccion" >
            </div>
            @Html.ValidationMessageFor(model => model.Direccion, null, new { @class = "text-danger" })
        </div>


        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Telefono</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" name="Telefono" placeholder="ingresa Telefono" >
            </div>
            @Html.ValidationMessageFor(model => model.Telefono, null, new { @class = "text-danger" })
        </div>


        <div class="form-group row">
            <div class="col-sm-10" style="margin-left:15em">
                <button type="submit" class="btn btn-success">
                    <img src="~/fonts/guardar.ico" style="width:23px" />

                    Grabar
                </button>
                <button type="reset" class="btn btn-danger">
                    <img src="~/fonts/limpiar.ico" style="width:23px" />

                    Limpiar
                </button>
            </div>
        </div>
    </form>

</div>